.container {
    position: relative;
    /* width: 50%; */
    /* max-width: 300px; */
  }
  
  .image {
    display: block;
    width: 100%;
    /* height: auto; */
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  .galleryBg h1:after{
    display:block;
    content: '';
    border-bottom: solid 3px #C33764;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .galleryBg h1:hover:after { transform: scaleX(0.15); }