.serviceBanner{
    background-image: url('../../assets/Cover/webbg.png');
    background-size: cover;
    padding: 60px 40px;
}
.serviceBanner h1{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}