.footerBg{
    background-image: url('../../assets/Cover/cover.jpg');
    background-size: cover;
}

.footerLink li:after{
    display:block;
    content: '';
    border-bottom: solid 3px #C33764;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .footerLink li:hover:after { transform: scaleX(0.5); }